html

  head
    title NodeVox
    link(rel="stylesheet", href="css/vendor.css" )
    link(rel="stylesheet", href="css/osiris.css" )
    script( src="js/vendor.js" )
    script( src="js/nodevox.js" )

  body
    nav.navbar.navbar-inverse(role="navigation")
      .navbar-header
        a.nav.navbar-brand(href="#/") Nodevox
      ul.nav.navbar-nav

    #main-window.container
    #footer
      p.text-muted.text-center.small
        | NodeVox, 2014 open source content platform
      
